html, body {
    background: transparent;
}
body {
    font-family: Lucida Grande;
    font-size: 12px;
    margin: 0;
    margin-top: 7px;
    text-shadow: 0 1px 0 white;
}
.title {
    /* Some feeds (like Github) include the title in the content as well, so let's hide that. */
    display:none;
}
div.feeds-title {
    font-size: 15px;
    font-weight: bold;
    margin: 7px;
    margin-bottom: 0;
    /*max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}
div.feeds-author {
    color: #777;
    font-size: 10px;
    font-weight: bold;
    margin: 7px;
    margin-top: 1px;
}
div.feeds-content {
    margin: 7px;
    font-size: 11px;
}
img {
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    margin: 0 10px 10px 0;
    max-width: 400px;
    max-height: 300px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
hr {
    height: 1px;
    color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.75);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}